<a href="https://colab.research.google.com/github/2840bongkoch/dataviz2025/blob/main/Copy_of_Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

## dictionary ไม่มีลำดับ

In [ ]:
dict_a = {'abc':123, 'def':456, 'ghi':789}

In [ ]:
print(dict_a)

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def'] #วงเล็บเหลี่ยมใช้เรียก

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 111}

In [ ]:
dict_b['a'] = 567

In [ ]:
dict_b

{'a': 567, 'b': 111}

### การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 111}

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Bongkoch')

In [ ]:
print_myname()

Bongkoch

In [ ]:
b = print_myname()

Bongkoch

In [ ]:
b #ไม่มีรีเทิร์นจึงว่าง

In [ ]:
def print_name(name):        # ตัวอย่าง function ที่ มีครบทุกส่วน
    st = f'ชื่อ {name}'
    return st

In [ ]:
print_name('stat')

'ชื่อ stat'

In [ ]:
a = print_name('stat')
a

'ชื่อ stat'

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('เจตวัน','663020284-0','บงกช')

'ชื่อ บงกช นามสกุล เจตวัน รหัส 663020284-0'

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print_fullname(name='บงกช',surname='เจตวัน',ID='663020284-0')

'ชื่อ บงกช นามสกุล เจตวัน รหัส 663020284-0'

**ฟังก์ชั่นไม่จำเป็นต้องมี output**

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_fullname2(name='บงกช',surname='เจตวัน',ID='663020284-0')

ชื่อ บงกช นามสกุล เจตวัน รหัส 663020284-0

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname(name='บงกช',surname='เจตวัน',ID='663020284-0') # มี output
print(out_printname1)

ชื่อ บงกช นามสกุล เจตวัน รหัส 663020284-0

In [ ]:
out_printname1

'ชื่อ บงกช นามสกุล เจตวัน รหัส 663020284-0'

In [ ]:
out_printname2 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ไม่มี','คนได้','65-xxxxxxxx')

ชื่อ ไม่มี นามสกุล คนได้ รหัส 65-xxxxxxxx
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz3
เขียน function ของ Hw2

In [ ]:
# prompt: เขียน function คำนวณหาวินาที 12:30:15, Wednesday - 13:41:07, Thursday

from datetime import datetime

def calculate_time_difference(start_time_str, end_time_str, start_day, end_day):
    """
    Calculates the time difference in seconds between two time strings with specified days.

    Args:
        start_time_str (str): Start time in 'HH:MM:SS' format.
        end_time_str (str): End time in 'HH:MM:SS' format.
        start_day (str): Start day (e.g., 'Monday', 'Tuesday').
        end_day (str): End day (e.g., 'Wednesday', 'Thursday').

    Returns:
        int: Time difference in seconds.
    """
    day_map = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }

    start_day_num = day_map.get(start_day, 0)
    end_day_num = day_map.get(end_day, 0)

    # Create dummy dates to handle day difference
    start_dt_str = f'2023-10-{23 + start_day_num:02d} {start_time_str}' # Using Oct 23, 2023 as a reference Monday
    end_dt_str = f'2023-10-{23 + end_day_num:02d} {end_time_str}'

    start_dt = datetime.strptime(start_dt_str, '%Y-%m-%d %H:%M:%S')
    end_dt = datetime.strptime(end_dt_str, '%Y-%m-%d %H:%M:%S')

    time_difference = end_dt - start_dt

    return int(time_difference.total_seconds())

# Example usage:
start_time = '12:30:15'
end_time = '13:41:07'
start_day = 'Wednesday'
end_day = 'Thursday'

seconds_diff = calculate_time_difference(start_time, end_time, start_day, end_day)
print(f"The time difference is: {seconds_diff} seconds")

The time difference is: 90652 seconds

In [ ]:
# prompt: เขียน function คำนวณหาวินาที 12:53:15, Monday - 00:59:25, Tuesday

def calculate_seconds_between(start_time_str, start_day_str, end_time_str, end_day_str):
    """
    Calculates the number of seconds between two times on potentially different days.

    Args:
        start_time_str (str): The starting time string in "HH:MM:SS" format.
        start_day_str (str): The starting day string (e.g., "Monday", "Tuesday").
        end_time_str (str): The ending time string in "HH:MM:SS" format.
        end_day_str (str): The ending day string (e.g., "Monday", "Tuesday").

    Returns:
        int: The total number of seconds between the start and end time/day.
    """
    day_map = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }

    start_day_num = day_map.get(start_day_str, 0)
    end_day_num = day_map.get(end_day_str, 0)

    # Create dummy datetimes to calculate difference, assuming same year and month
    # We use day numbers to handle crossing midnight and days.
    # The specific date (year, month, day) doesn't matter as long as the day difference is correct.
    # Let's use a fixed reference date like 2023-10-23 for Monday (day 0)
    start_dt_str = f'2023-10-{23 + start_day_num:02d} {start_time_str}'
    end_dt_str = f'2023-10-{23 + end_day_num:02d} {end_time_str}'

    start_dt = datetime.strptime(start_dt_str, '%Y-%m-%d %H:%M:%S')
    end_dt = datetime.strptime(end_dt_str, '%Y-%m-%d %H:%M:%S')

    time_difference = end_dt - start_dt

    return int(time_difference.total_seconds())

# Example usage for 12:53:15, Monday - 00:59:25, Tuesday
start_time_example = '12:53:15'
start_day_example = 'Monday'
end_time_example = '00:59:25'
end_day_example = 'Tuesday'

seconds_diff_example = calculate_seconds_between(start_time_example, start_day_example, end_time_example, end_day_example)
print(f"The time difference between {start_time_example}, {start_day_example} and {end_time_example}, {end_day_example} is: {seconds_diff_example} seconds")

The time difference between 12:53:15, Monday and 00:59:25, Tuesday is: 43570 seconds

In [ ]:
# prompt: เขียน function คำนวณหาวินาที 16:06:09, Sunday - 11:11:11 Tuesday ไม่ติดลบ

def calculate_positive_seconds_between(start_time_str, start_day_str, end_time_str, end_day_str):
    """
    Calculates the number of seconds between two times on potentially different days,
    ensuring the result is not negative by potentially wrapping around the week.

    Args:
        start_time_str (str): The starting time string in "HH:MM:SS" format.
        start_day_str (str): The starting day string (e.g., "Monday", "Tuesday").
        end_time_str (str): The ending time string in "HH:MM:SS" format.
        end_day_str (str): The ending day string (e.g., "Monday", "Tuesday").

    Returns:
        int: The total number of seconds between the start and end time/day (non-negative).
    """
    day_map = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }

    start_day_num = day_map.get(start_day_str, 0)
    end_day_num = day_map.get(end_day_str, 0)

    # Create dummy datetimes to calculate difference
    # We use day numbers to handle crossing midnight and days.
    # The specific date (year, month, day) doesn't matter as long as the day difference is correct.
    # Let's use a fixed reference date like 2023-10-23 for Monday (day 0)
    start_dt_str = f'2023-10-{23 + start_day_num:02d} {start_time_str}'
    end_dt_str = f'2023-10-{23 + end_day_num:02d} {end_time_str}'

    start_dt = datetime.strptime(start_dt_str, '%Y-%m-%d %H:%M:%S')
    end_dt = datetime.strptime(end_dt_str, '%Y-%m-%d %H:%M:%S')

    time_difference = end_dt - start_dt

    # If the difference is negative (end time is before start time within the week)
    # add a week's worth of seconds to make it positive.
    if time_difference.total_seconds() < 0:
        time_difference += timedelta(days=7)

    return int(time_difference.total_seconds())

# Example usage for 16:06:09, Sunday - 11:11:11 Tuesday
start_time_sunday = '16:06:09'
start_day_sunday = 'Sunday'
end_time_tuesday = '11:11:11'
end_day_tuesday = 'Tuesday'

seconds_diff_example_2 = calculate_positive_seconds_between(start_time_sunday, start_day_sunday, end_time_tuesday, end_day_tuesday)
print(f"The time difference between {start_time_sunday}, {start_day_sunday} and {end_time_tuesday}, {end_day_tuesday} is: {seconds_diff_example_2} seconds")

The time difference between 16:06:09, Sunday and 11:11:11, Tuesday is: 155102 seconds

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

In [ ]:
# prompt: เขียน function คำนวณหาวินาที 12:30:15, Wednesday - 13:41:07, Thursday มีการใช้ default โดยถ้ากรอกวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค1ตัว

from datetime import timedelta

def calculate_seconds_between_with_default_day(start_time_str, end_time_str, start_day=None, end_day=None):
    """
    Calculates the number of seconds between two times on potentially different days.
    Uses default day if only one day or no day is provided.

    Args:
        start_time_str (str): The starting time string in "HH:MM:SS" format.
        end_time_str (str): The ending time string in "HH:MM:SS" format.
        start_day (str, optional): The starting day string (e.g., "Monday", "Tuesday").
                                   If None, uses the same day as end_day or defaults to Monday.
        end_day (str, optional): The ending day string (e.g., "Monday", "Tuesday").
                                 If None, uses the same day as start_day or defaults to Monday.

    Returns:
        int: The total number of seconds between the start and end time/day.
    """
    day_map = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }

    # Determine the days with default logic
    if start_day is None and end_day is None:
        start_day_str = 'Monday' # Default to Monday if no day is given
        end_day_str = 'Monday'
    elif start_day is None:
        start_day_str = end_day # Use end_day as start_day if only end_day is given
        end_day_str = end_day
    elif end_day is None:
        end_day_str = start_day # Use start_day as end_day if only start_day is given
        start_day_str = start_day
    else:
        start_day_str = start_day
        end_day_str = end_day


    start_day_num = day_map.get(start_day_str, 0)
    end_day_num = day_map.get(end_day_str, 0)

    # Create dummy datetimes to calculate difference
    # We use day numbers to handle crossing midnight and days.
    # The specific date (year, month, day) doesn't matter as long as the day difference is correct.
    # Let's use a fixed reference date like 2023-10-23 for Monday (day 0)
    start_dt_str = f'2023-10-{23 + start_day_num:02d} {start_time_str}'
    end_dt_str = f'2023-10-{23 + end_day_num:02d} {end_time_str}'

    start_dt = datetime.strptime(start_dt_str, '%Y-%m-%d %H:%M:%S')
    end_dt = datetime.strptime(end_dt_str, '%Y-%m-%d %H:%M:%S')

    time_difference = end_dt - start_dt

    return int(time_difference.total_seconds())

# Example usage: 12:30:15, Wednesday - 13:41:07, Thursday
start_time = '12:30:15'
end_time = '13:41:07'
start_day = 'Wednesday'
end_day = 'Thursday'

seconds_diff = calculate_seconds_between_with_default_day(start_time, end_time, start_day, end_day)
print(f"เวลาที่แตกต่างระหว่าง {start_time}, {start_day} และ {end_time}, {end_day} คือ: {seconds_diff} วินาที")

# Example usage with only start day provided (end day defaults to start day)
start_time_same_day = '10:00:00'
end_time_same_day = '11:00:00'
start_day_same_day = 'Friday'

seconds_diff_same_day = calculate_seconds_between_with_default_day(start_time_same_day, end_time_same_day, start_day=start_day_same_day)
print(f"เวลาที่แตกต่างระหว่าง {start_time_same_day}, {start_day_same_day} และ {end_time_same_day}, วันเดียวกัน คือ: {seconds_diff_same_day} วินาที")

# Example usage with only end day provided (start day defaults to end day)
start_time_same_day_2 = '10:00:00'
end_time_same_day_2 = '11:00:00'
end_day_same_day_2 = 'Saturday'

seconds_diff_same_day_2 = calculate_seconds_between_with_default_day(start_time_same_day_2, end_time_same_day_2, end_day=end_day_same_day_2)
print(f"เวลาที่แตกต่างระหว่าง {start_time_same_day_2}, วันเดียวกัน และ {end_time_same_day_2}, {end_day_same_day_2} คือ: {seconds_diff_same_day_2} วินาที")


# Example usage with no day provided (defaults to Monday for both)
start_time_no_day = '10:00:00'
end_time_no_day = '11:00:00'

seconds_diff_no_day = calculate_seconds_between_with_default_day(start_time_no_day, end_time_no_day)
print(f"เวลาที่แตกต่างระหว่าง {start_time_no_day} และ {end_time_no_day} (วันจันทร์ทั้งคู่) คือ: {seconds_diff_no_day} วินาที")

เวลาที่แตกต่างระหว่าง 12:30:15, Wednesday และ 13:41:07, Thursday คือ: 90652 วินาที
เวลาที่แตกต่างระหว่าง 10:00:00, Friday และ 11:00:00, วันเดียวกัน คือ: 3600 วินาที
เวลาที่แตกต่างระหว่าง 10:00:00, วันเดียวกัน และ 11:00:00, Saturday คือ: 3600 วินาที
เวลาที่แตกต่างระหว่าง 10:00:00 และ 11:00:00 (วันจันทร์ทั้งคู่) คือ: 3600 วินาที

In [ ]:
# prompt: prompt: เขียน function คำนวณหาวินาที 12:53:15, Monday - 00:59:25, Tuesdayมีการใช้ default โดยถ้ากรอกวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค1ตัว

def calculate_seconds_between_with_default_day(start_time_str, end_time_str, start_day=None, end_day=None):
    """
    Calculates the number of seconds between two times on potentially different days.
    Uses default day logic:
    - If both start_day and end_day are None, both default to Monday.
    - If only start_day is None, start_day defaults to end_day.
    - If only end_day is None, end_day defaults to start_day.

    Args:
        start_time_str (str): The starting time string in "HH:MM:SS" format.
        end_time_str (str): The ending time string in "HH:MM:SS" format.
        start_day (str, optional): The starting day string (e.g., "Monday", "Tuesday").
                                   Defaults to None.
        end_day (str, optional): The ending day string (e.g., "Monday", "Tuesday").
                                 Defaults to None.

    Returns:
        int: The total number of seconds between the start and end time/day.
             Can be negative if the end time/day is before the start time/day.
    """
    day_map = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }

    # Determine the actual start and end days based on default logic
    actual_start_day = start_day
    actual_end_day = end_day

    if actual_start_day is None and actual_end_day is None:
        actual_start_day = 'Monday'
        actual_end_day = 'Monday'
    elif actual_start_day is None:
        actual_start_day = actual_end_day
    elif actual_end_day is None:
        actual_end_day = actual_start_day

    start_day_num = day_map.get(actual_start_day, 0)
    end_day_num = day_map.get(actual_end_day, 0)

    # Create dummy datetimes using a reference date (Oct 23, 2023 was a Monday)
    start_dt_str = f'2023-10-{23 + start_day_num:02d} {start_time_str}'
    end_dt_str = f'2023-10-{23 + end_day_num:02d} {end_time_str}'

    start_dt = datetime.strptime(start_dt_str, '%Y-%m-%d %H:%M:%S')
    end_dt = datetime.strptime(end_dt_str, '%Y-%m-%d %H:%M:%S')

    time_difference = end_dt - start_dt

    return int(time_difference.total_seconds())

# Example usage: 12:53:15, Monday - 00:59:25, Tuesday
start_time_example = '12:53:15'
start_day_example = 'Monday'
end_time_example = '00:59:25'
end_day_example = 'Tuesday'

seconds_diff_example = calculate_seconds_between_with_default_day(start_time_example, end_time_example, start_day_example, end_day_example)
print(f"เวลาที่แตกต่างระหว่าง {start_time_example}, {start_day_example} และ {end_time_example}, {end_day_example} คือ: {seconds_diff_example} วินาที")

# Example usage with only start day provided (end day defaults to start day)
start_time_same_day = '10:00:00'
end_time_same_day = '11:00:00'
start_day_same_day = 'Friday'

seconds_diff_same_day = calculate_seconds_between_with_default_day(start_time_same_day, end_time_same_day, start_day=start_day_same_day)
print(f"เวลาที่แตกต่างระหว่าง {start_time_same_day}, {start_day_same_day} และ {end_time_same_day}, วันเดียวกัน คือ: {seconds_diff_same_day} วินาที")

# Example usage with only end day provided (start day defaults to end day)
start_time_same_day_2 = '10:00:00'
end_time_same_day_2 = '11:00:00'
end_day_same_day_2 = 'Saturday'

seconds_diff_same_day_2 = calculate_seconds_between_with_default_day(start_time_same_day_2, end_time_same_day_2, end_day=end_day_same_day_2)
print(f"เวลาที่แตกต่างระหว่าง {start_time_same_day_2}, วันเดียวกัน และ {end_time_same_day_2}, {end_day_same_day_2} คือ: {seconds_diff_same_day_2} วินาที")


# Example usage with no day provided (defaults to Monday for both)
start_time_no_day = '10:00:00'
end_time_no_day = '11:00:00'

seconds_diff_no_day = calculate_seconds_between_with_default_day(start_time_no_day, end_time_no_day)
print(f"เวลาที่แตกต่างระหว่าง {start_time_no_day} และ {end_time_no_day} (วันจันทร์ทั้งคู่) คือ: {seconds_diff_no_day} วินาที")

เวลาที่แตกต่างระหว่าง 12:53:15, Monday และ 00:59:25, Tuesday คือ: 43570 วินาที
เวลาที่แตกต่างระหว่าง 10:00:00, Friday และ 11:00:00, วันเดียวกัน คือ: 3600 วินาที
เวลาที่แตกต่างระหว่าง 10:00:00, วันเดียวกัน และ 11:00:00, Saturday คือ: 3600 วินาที
เวลาที่แตกต่างระหว่าง 10:00:00 และ 11:00:00 (วันจันทร์ทั้งคู่) คือ: 3600 วินาที

In [ ]:
# prompt: เขียน function คำนวณหาวินาที 16:06:09, Sunday - 11:11:11 Tuesday มีการใช้ default โดยถ้ากรอกวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค1ตัว

def calculate_seconds_between_flex(start_info, end_info=None):
    """
    Calculates the number of seconds between two times on potentially different days
    with flexible input for start and end information.

    Args:
        start_info (str): A string containing start time and optionally start day.
                          Format: "HH:MM:SS, DayName" or "HH:MM:SS"
        end_info (str, optional): A string containing end time and optionally end day.
                                  Format: "HH:MM:SS, DayName" or "HH:MM:SS"
                                  Defaults to None, implying end time/day is the same as start.

    Returns:
        int: The total number of seconds between the start and end time/day (non-negative).
    """
    day_map = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }

    def parse_time_day(info_str):
        parts = info_str.split(',')
        time_str = parts[0].strip()
        day_str = parts[1].strip() if len(parts) > 1 else None
        return time_str, day_str

    start_time_str, start_day_str = parse_time_day(start_info)

    if end_info is None:
        end_time_str = start_time_str
        end_day_str = start_day_str
    else:
        end_time_str, end_day_str = parse_time_day(end_info)
        # If end_day is not provided, assume it's the same as start_day
        if end_day_str is None:
             end_day_str = start_day_str


    # Handle cases where day is not provided for start or end (assume Monday if not specified)
    start_day_str = start_day_str if start_day_str is not None else 'Monday'
    end_day_str = end_day_str if end_day_str is not None else 'Monday'


    start_day_num = day_map.get(start_day_str.capitalize(), 0) # Use capitalize for case-insensitivity
    end_day_num = day_map.get(end_day_str.capitalize(), 0)

    # Create dummy datetimes to calculate difference
    # We use day numbers to handle crossing midnight and days.
    # The specific date (year, month, day) doesn't matter as long as the day difference is correct.
    # Let's use a fixed reference date like 2023-10-23 for Monday (day 0)
    start_dt_str = f'2023-10-{23 + start_day_num:02d} {start_time_str}'
    end_dt_str = f'2023-10-{23 + end_day_num:02d} {end_time_str}'

    start_dt = datetime.strptime(start_dt_str, '%Y-%m-%d %H:%M:%S')
    end_dt = datetime.strptime(end_dt_str, '%Y-%m-%d %H:%M:%S')

    time_difference = end_dt - start_dt

    # If the difference is negative (end time is before start time within the week)
    # add a week's worth of seconds to make it positive.
    if time_difference.total_seconds() < 0:
        time_difference += timedelta(days=7)

    return int(time_difference.total_seconds())

# Example usage: 16:06:09, Sunday - 11:11:11 Tuesday
start_time_sunday = '16:06:09, Sunday'
end_time_tuesday = '11:11:11, Tuesday'

seconds_diff_example_2 = calculate_seconds_between_flex(start_time_sunday, end_time_tuesday)
print(f"เวลาที่แตกต่างระหว่าง {start_time_sunday} และ {end_time_tuesday} คือ: {seconds_diff_example_2} วินาที")

# Example usage: same day, only times provided
print(f"เวลาที่แตกต่างระหว่าง 12:00:00 และ 13:00:00 (วันเดียวกัน) คือ: {calculate_seconds_between_flex('12:00:00', '13:00:00')} วินาที")

# Example usage with same day, only start time provided (calculates difference between start and start - should be 0)
print(f"เวลาที่แตกต่างระหว่าง 12:00:00 และ 12:00:00 (วันเดียวกัน) คือ: {calculate_seconds_between_flex('12:00:00')} วินาที")

# Example usage with same day and time
print(f"เวลาที่แตกต่างระหว่าง 10:00:00, Wednesday และ 10:00:00, Wednesday คือ: {calculate_seconds_between_flex('10:00:00, Wednesday', '10:00:00, Wednesday')} วินาที")

# Example usage with different day, end day provided, start day not provided (defaults to Monday)
print(f"เวลาที่แตกต่างระหว่าง 10:00:00 (วันจันทร์) และ 11:00:00, Tuesday คือ: {calculate_seconds_between_flex('10:00:00', '11:00:00, Tuesday')} วินาที")

# Example usage with different day, start day provided, end day not provided (defaults to start day)
print(f"เวลาที่แตกต่างระหว่าง 10:00:00, Thursday และ 11:00:00 (วันเดียวกัน) คือ: {calculate_seconds_between_flex('10:00:00, Thursday', '11:00:00')} วินาที")

เวลาที่แตกต่างระหว่าง 16:06:09, Sunday และ 11:11:11, Tuesday คือ: 155102 วินาที
เวลาที่แตกต่างระหว่าง 12:00:00 และ 13:00:00 (วันเดียวกัน) คือ: 3600 วินาที
เวลาที่แตกต่างระหว่าง 12:00:00 และ 12:00:00 (วันเดียวกัน) คือ: 0 วินาที
เวลาที่แตกต่างระหว่าง 10:00:00, Wednesday และ 10:00:00, Wednesday คือ: 0 วินาที
เวลาที่แตกต่างระหว่าง 10:00:00 (วันจันทร์) และ 11:00:00, Tuesday คือ: 90000 วินาที
เวลาที่แตกต่างระหว่าง 10:00:00, Thursday และ 11:00:00 (วันเดียวกัน) คือ: 3600 วินาที

In [ ]:
print('abc', 'def')

abc def

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

In [ ]:
# prompt: วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้
# 1. 18:09:10 - 18:25:10
# 2. 13:38:39 - 23:54:39
# 3. 16:49:58 - 18:05:58
# 4. 21:49:10 - 22:24:10
# 5. 08:52:21 - 09:25:21
# 6. 06:56:26 - 07:49:26
# 7. 12:08:05 - 12:43:05
# 8. 01:48:38 - 07:18:38
# 9. 08:51:21 - 10:17:21
# 10. 17:05:17 - 18:09:17

time_ranges = [
    "18:09:10 - 18:25:10",
    "13:38:39 - 23:54:39",
    "16:49:58 - 18:05:58",
    "21:49:10 - 22:24:10",
    "08:52:21 - 09:25:21",
    "06:56:26 - 07:49:26",
    "12:08:05 - 12:43:05",
    "01:48:38 - 07:18:38",
    "08:51:21 - 10:17:21",
    "17:05:17 - 18:09:17"
]

def cal_dif_secs(timeinput):
    """
    Calculates the time difference in seconds between two time strings
    in the format 'HH:MM:SS - HH:MM:SS'.

    Args:
        timeinput (str): A string containing two time strings separated by ' - '.

    Returns:
        int: The time difference in seconds.
    """
    timelist = timeinput.split(' - ')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0]) * 3600 + int(time1[1]) * 60 + int(time1[2])
    time2_sec = int(time2[0]) * 3600 + int(time2[1]) * 60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

for time_range in time_ranges:
    seconds_difference = cal_dif_secs(time_range)
    print(f"ช่วงเวลา {time_range} ห่างกัน: {seconds_difference} วินาที")

ช่วงเวลา 18:09:10 - 18:25:10 ห่างกัน: 960 วินาที
ช่วงเวลา 13:38:39 - 23:54:39 ห่างกัน: 36960 วินาที
ช่วงเวลา 16:49:58 - 18:05:58 ห่างกัน: 4560 วินาที
ช่วงเวลา 21:49:10 - 22:24:10 ห่างกัน: 2100 วินาที
ช่วงเวลา 08:52:21 - 09:25:21 ห่างกัน: 1980 วินาที
ช่วงเวลา 06:56:26 - 07:49:26 ห่างกัน: 3180 วินาที
ช่วงเวลา 12:08:05 - 12:43:05 ห่างกัน: 2100 วินาที
ช่วงเวลา 01:48:38 - 07:18:38 ห่างกัน: 19800 วินาที
ช่วงเวลา 08:51:21 - 10:17:21 ห่างกัน: 5160 วินาที
ช่วงเวลา 17:05:17 - 18:09:17 ห่างกัน: 3840 วินาที

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

In [51]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [58]:
for i in 'Bongkoch':
    print(f'{i} -> /' )

B -> /
o -> /
n -> /
g -> /
k -> /
o -> /
c -> /
h -> /

In [50]:
for i in 'Bongkoch':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

B -> / o -> / n -> / g -> / k -> / o -> / c -> / h -> /

In [59]:
for i in 'Bongkoch':
    print(i, end = '-> /\n')

B-> /
o-> /
n-> /
g-> /
k-> /
o-> /
c-> /
h-> /

In [55]:
# prompt: for i in 'Bongkoch':
#     print(i, end = '-> /') เขียนโค้ดให้ผลลัพธ์เป็น Bongkoch

for i in 'Bongkoch':
    print(i, end = '')

Bongkoch

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [62]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [61]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [60]:
for i in range(10):
    print('งง')

งง
งง
งง
งง
งง
งง
งง
งง
งง
งง

In [52]:
# prompt: สร้างโค้ดโดยใช้ loop แสดงผลคำว่า A F สลับกันไปเรื่อยๆ 20 ครั้ง

for i in range(20):
    if i % 2 == 0:
        print('A', end=' ')
    else:
        print('F', end=' ')

A F A F A F A F A F A F A F A F A F A F

In [64]:
list(range(0)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

In [67]:
list(range(20,2,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4]

## วนลูปโดยสนใจสมาชิกและลำดับ

In [75]:
for index, i in enumerate('Bongkoch'):
    print(f'สมาชิก {i} เป็นลำดับที่ {index}')

สมาชิก B เป็นลำดับที่ 0
สมาชิก o เป็นลำดับที่ 1
สมาชิก n เป็นลำดับที่ 2
สมาชิก g เป็นลำดับที่ 3
สมาชิก k เป็นลำดับที่ 4
สมาชิก o เป็นลำดับที่ 5
สมาชิก c เป็นลำดับที่ 6
สมาชิก h เป็นลำดับที่ 7

In [87]:
index = 0
for i in 'Bongkoch':
    print(f'สมาชิก {i} เป็นลำดับที่ {index}')
    i += 1

สมาชิก B เป็นลำดับที่ 0

TypeError: can only concatenate str (not "int") to str

In [70]:
for i in 'Bongkoch':
    print(f'สมาชิก {i}')
    print(f'ลำดับ {list(range(len(i)))}')

สมาชิก B
ลำดับ [0]
สมาชิก o
ลำดับ [0]
สมาชิก n
ลำดับ [0]
สมาชิก g
ลำดับ [0]
สมาชิก k
ลำดับ [0]
สมาชิก o
ลำดับ [0]
สมาชิก c
ลำดับ [0]
สมาชิก h
ลำดับ [0]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [88]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

เขียนโค้ด วนลุกค่าตัวเลขออกมาเป็นสามเหลี่ยม แถว1 คือ 1 แถว2 คือ 2 4 แถว3 คือ 3 6 แถว4 คือ 4 8 12 แถว5 คือ 5 10 15 20 25

ex
1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [90]:
# prompt: เขียนโค้ด วนลุกค่าตัวเลขออกมาเป็นสามเหลี่ยม แถว1 คือ 1 แถว2 คือ 2 4 แถว3 คือ 3 6 แถว4 คือ 4 8 12 แถว5 คือ 5 10 15 20 25

def print_number_triangle(rows):
    """
    Prints a number triangle pattern.

    Args:
        rows (int): The number of rows in the triangle.
    """
    for i in range(1, rows + 1):
        row_output = []
        for j in range(1, i + 1):
            row_output.append(str(i * j))
        print(" ".join(row_output))

# Example usage for 5 rows:
print_number_triangle(5)

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [12]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [13]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [14]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [15]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [16]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [17]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [18]:
name_grade['ปนัดดา']

'A'

In [19]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [20]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [21]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [22]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [24]:
# prompt: # HW 4
# #### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
# #### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]       ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
#       ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
#       ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
#       ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
#       ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
#       ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
#       ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
#       ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
#       แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

def score_to_grade(score):
    """
    ตัดเกรดจากคะแนนที่กำหนด (0-100)

    Args:
        score (int): คะแนน (0-100)

    Returns:
        str: เกรด (F-A)

    Raises:
        ValueError: ถ้าคะแนนอยู่นอกช่วง 0-100
    """
    if not (0 <= score <= 100):
        raise ValueError("คะแนนต้องอยู่ระหว่าง 0 ถึง 100 เท่านั้น")

    if score >= 80:
        return 'A'
    elif score >= 75:
        return 'B+'
    elif score >= 70:
        return 'B'
    elif score >= 65:
        return 'C+'
    elif score >= 60:
        return 'C'
    elif score >= 55:
        return 'D+'
    elif score >= 50:
        return 'D'
    else:
        return 'F'

input_scores = [1, 50, 65, 90, 101, -5, 49]

for score in input_scores:
    try:
        grade = score_to_grade(score)
        print(f"คะแนน {score} ได้เกรด {grade}")
    except ValueError as e:
        print(f"คะแนน {score}: เกิดข้อผิดพลาด - {e}")

คะแนน 1 ได้เกรด F
คะแนน 50 ได้เกรด D
คะแนน 65 ได้เกรด C+
คะแนน 90 ได้เกรด A
คะแนน 101: เกิดข้อผิดพลาด - คะแนนต้องอยู่ระหว่าง 0 ถึง 100 เท่านั้น
คะแนน -5: เกิดข้อผิดพลาด - คะแนนต้องอยู่ระหว่าง 0 ถึง 100 เท่านั้น
คะแนน 49 ได้เกรด F

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [26]:
if (1>0) & (0>-1):
    print(True & True)

True

In [27]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [28]:
def return_nothing(x):
    x = x+1

In [29]:
a = return_nothing(5)

In [30]:
if a is None:
    print('x is null')

x is null

# Finish

**โจทย์:**

จงเขียนโค้ด Python โดยใช้ loop เพื่อหาผลรวมของตัวเลขทั้งหมดตั้งแต่ 1 ถึง 100 (คือ 1 + 2 + 3 + ... + 100) และแสดงผลลัพธ์ออกมาค่ะ

In [39]:
# prompt: จงเขียนโค้ด Python โดยใช้ loop เพื่อหาผลรวมของตัวเลขทั้งหมดตั้งแต่ 1 ถึง 100

total_sum = 0
for i in range(1, 101):
  total_sum += i

print(f"ผลรวมของตัวเลขตั้งแต่ 1 ถึง 100 คือ: {total_sum}")

ผลรวมของตัวเลขตั้งแต่ 1 ถึง 100 คือ: 5050

**โจทย์:**

จงเขียนโค้ด Python โดยใช้ loop เพื่อวนลูปผ่าน list ของชื่อเพื่อนที่คุณมี แล้วพิมพ์ข้อความว่า "สวัสดี [ชื่อเพื่อน]" สำหรับเพื่อนแต่ละคนใน list ค่ะ

**ตัวอย่าง list เพื่อน:**
```

In [ ]:
friends = ["สมชาย", "สมหญิง", "สมศรี", "สมเกียรติ"]

In [41]:
# prompt: จงเขียนโค้ด Python โดยใช้ loop เพื่อวนลูปผ่าน list ของชื่อเพื่อนที่คุณมี แล้วพิมพ์ข้อความว่า "สวัสดี [ชื่อเพื่อน]"

friends = ["สมชาย", "สมหญิง", "สมศรี", "สมเกียรติ"]

for friend in friends:
  print(f"สวัสดี {friend}")

สวัสดี สมชาย
สวัสดี สมหญิง
สวัสดี สมศรี
สวัสดี สมเกียรติ

**โจทย์:**

จงเขียนโค้ด Python โดยใช้ loop เพื่อพิมพ์ตัวเลขคู่ทั้งหมดตั้งแต่ 1 ถึง 20

In [44]:
# prompt: จงเขียนโค้ด Python โดยใช้ loop เพื่อพิมพ์ตัวเลขคู่ทั้งหมดตั้งแต่ 1 ถึง 20

for i in range(2, 21, 2):
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20